apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "skillsmanager.fullname" . }}
  labels:
    {{- include "skillsmanager.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "skillsmanager.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "skillsmanager.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "skillsmanager.serviceAccountName" . }}
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          {{- with .Values.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          {{- with .Values.livenessProbe }}
          livenessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.readinessProbe }}
          readinessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          env:
            - name: DATABASE_URL
            {{- if .Values.persistence.database.enabled }}
              value: sqlite:///app/db/db.sqlite3
            {{- else }}
              valueFrom:
                secretKeyRef:
                  name: {{.Values.configuration.databaseUrl.secretName}}
                  key: {{.Values.configuration.databaseUrl.secretKey}}
            {{- end }}
            - name: SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: {{.Values.configuration.djangoSecretKey.secretName}}
                  key: {{.Values.configuration.djangoSecretKey.secretKey}}
            {{- with .Values.configuration.applicationHost }}
            - name: APPLICATION_HOST
              value: {{.}}
            {{- end }}
            - name: DEBUG
              value: "{{.Values.configuration.debug}}"
            {{- with .Values.configuration.azure.enabled }}
            - name: AZURE_ENBALED
              value: "true"
            - name: AZURE_CLIENT_ID
              value: {{.Values.configuration.azure.clientId}}
            - name: AZURE_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: {{.Values.configuration.azure.clientSecret.secretName}}
                  key: {{.Values.configuration.azure.clientSecret.secretKey}}
            - name: AZURE_TENANT_ID
              value: {{.Values.configuration.azure.tenantId}}
            - name: AZURE_PROMPT
              value: {{.Values.configuration.azure.prompt}}
            {{- with .Values.configuration.azure.roles}}
            - name: AZURE_ROLES
              value: {{. | toJson | quote}}
            {{- end }}
            {{- end }}
          {{- include "skillsmanager.volumeMounts" . | indent 10 }}
      {{- include "skillsmanager.volumes" . | indent 6 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
