{% load static %}
.iommi_logo_menu {
    background-image: url({% static 'skillsManager/skillsManagerLogo.svg' %});
    background-size: 100%;
    min-height: 7em;
    margin-right: 0.7rem;
}
.main_menu {
    background: linear-gradient(180deg, rgba(57, 68, 116, 1) 25%, rgba(137, 188, 98, 1) 100%);

    & a {
	    color: #eeeeee;
    }

    & a#menu-logo:hover {
        background-color: revert-layer;
    }
    
    & li.is_active > details > summary > a, & li.is_active > a {
        font-weight: bold;
    }
}

.links {
    padding-top:1em;
}

.preview {
	width: 73em;
	height: 100em;
	margin-top: 1em;
	border: 1px dashed black;
	position: absolute;
	top: 15em;
}

div[data-iommi-path="fields__edit_meta__fields__photo"] img {
	max-width: 150px;
}

th[data-iommi-path="fields__skills__columns__skill__header"] {
    min-width: 20em;
}

.grid-container {
    padding-top: 2em;
}

button[data-open="new-skill-modal"] {
    margin-top: 1.6em;
    margin-left: 1em;
    padding: .5em;
    border-radius: 30%;
    padding-left: 1em;
    padding-right: 1em;
}

div[data-iommi-path="parts__new_skill_reference__fields__skill"] {
    width: 95%;
    float: left;
}

div#new-skill-modal span.select2 {
    width: 100% !important;
}